@model Cajero1Parcial.Models.ViewModels.MontoModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>CAJERO AUTOMATICO</h2>
@using (Html.BeginForm("Procesar", "Monto","MontoModel", FormMethod.Post))
{

    <label>Ingrese el monto a retirar$</label>
    
    <br />
    @Html.TextBoxFor(m => m.Monto)
    <br />
    @Html.ValidationMessageFor(m => m.Monto, null)
    <br />
    <input type="submit" />

} 